body{
    background-color: slategrey;
}
nav {
    background-color: yellow;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
padding-left: 0px;
}
nav a {
    text-decoration: none;
    font-size: 15px;
    padding-right: 30px;
    padding-left:  40px;
}
.homebutton :hover {

color: blue;
font-size: 19px;
transition: 0.2s;

}